[Unit]
Description=Initialize GPIO pins for display and audio
Before=video-looper.service buttons.service

[Service]
Type=oneshot
ExecStart=/usr/bin/raspi-gpio set 18 op dh
ExecStartPost=/usr/bin/raspi-gpio set 19 a5
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
